<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>

<p  th:text="${'ФИО: ' + person.getName() + ', '+ person.getYear()}">VALUE </p>

<div style="    padding-bottom: 11px;
    border-bottom: 2px solid #a59b8fc2;"
        th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div style="    padding-bottom: 15px;
    border-bottom: 2px solid #a59b8fc2;
        padding-top: 15px;
    border-top: 2px solid #a59b8fc2;"
        th:if="${not books.isEmpty()}">
    <div style="font-weight: bold">Книги:</div>
    <div th:each="book : ${books}"
         th:text="${book.getName()+', ' + book.getAuthor() + ', ' +  book.getYear()}"
    >
    </div>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPerson_id()})}">
    <br/>
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getPerson_id()})}">
    <br/>
    <input type="submit" value="Удалить">
</form>

</body>
</html>